.job-card{
    border: 2px solid #111;
    border-radius: 30px;
    width: 90%;
    max-width: 90%;
    text-align: center;

    .job-card-logo{
        height: 50%;
    }
    .job-card-title{
        height: 50%;
        border-top: 2px solid #111;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        padding: 20px;
    }
}