/* Header */
.home-container{
    height: 250vh;
    .hi-text{
        font-weight: bold;
        font-size: 4rem;
    }
    
    .hi-photo{
        img{
            border: #111 solid 3px;
            border-radius: 50%;
        }
    }

    .hi-introduction{
        font-size: 1vw;
    }

    .section1,
    .section2,
    .section3,
    .section4{
        text-align: center;
        margin-top: 150px;
        font-size: 4.2rem;
        font-weight: bold;
    }

    .contact-info{
        width: 80%;
        .rrss{
            padding: 30px;
            text-align: center;
            font-size: 1vw;
            font-weight: bold;
        }
        .rrss-below{
            border-top: 1px solid #111;
        }
    }

}