@import "../../Variables.scss";
$anim-segs: 0.3s;
.navbar-container{
    position: relative;
    height: 150px;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 1px), 0% calc(100% - 1px));

    &::after{
        position: absolute;
        left: auto;
        right: auto;
        bottom: 1px;
        content: "";
        width: 100%;
        height: 1px;
        background-color: black;
    }
    .navbar-items{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        &::after{
            width: 120%;
            position: absolute;
            content: "";
            z-index: -10;
        }

        &.navbar-item-1{
            &.on::after{
                left: 0;
            }
            &.off::after{
                left: -120%;
            }
            &::after{
                height: 0;
                border-top: 150px solid $color-left;
                border-right: 150px solid transparent;
                transition: left $anim-segs;
            }
        }

        &.navbar-item-2{
            &.on::after{
                top: 0;
            }
            &.off::after{
                top: 200%
            }
            &::after{
                z-index: -1;
                border-bottom: 150px solid $color-center;
                border-left: 150px solid transparent;
                border-right: 150px solid transparent;
                height: 0;
                transition: top $anim-segs;
            }
        }

        &.navbar-item-3{
            &.on::after{
                right: 0;
            }
            &.off::after{
                right: -120%;
            }
            &::after{
                height: 0;
                border-top: 150px solid $color-right;
                border-left: 150px solid transparent;
                transition: right $anim-segs;
            }
        }
    }
}